<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="WaitSmart"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalApplication"
        tools:targetApi="31">
        <activity
            android:name=".empty_wallet"
            android:exported="false" />
        <activity
            android:name=".PurchaseDetails"
            android:exported="false" />
        <activity
            android:name=".Confirmed_order"
            android:exported="false" />
        <activity
            android:name=".empty_cart"
            android:exported="false" />
        <activity
            android:name=".KitchenLandingPage"
            android:exported="false" />
        <activity
            android:name=".SnacksPage"
            android:exported="false" />
        <activity
            android:name=".DessertsPage"
            android:exported="false" />
        <activity
            android:name=".FoodPage"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".DetailedItemPage"
            android:exported="false" />
        <activity
            android:name=".BeveragesPage"
            android:exported="false" />
        <activity
            android:name=".RestaurantClosed"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".NoInternetPage"
            android:exported="false" />
        <activity
            android:name=".WalletPage"
            android:exported="false" />
        <activity
            android:name=".CashierLandingPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".CashierProfilePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>